# Environments
.env
.venv
.idea
.coverage
.pytest_cache
.ruff_cache
.coverage.*
coverage.*
env/
venv/
htmlcov/
temp/

# Simulations
logs/
__pycache__/
*.egg*/
simulations/
results/
runs/
data/
images/
PhysiCell_V_1.10.4/output
Training/
Evaluations/
coverage_html_report/

# SVGs 
*.svg
*.pdf

# vim undo, backup and swaps
*.un~
*~
*swp
*swp~



/data
