# Environments
.env
.venv
env/
venv/

# Simulations
logs/
__pycache__/
*.egg*/
simulations/
results/
runs/
data/
images/
PhysiCell_V_1.10.4/output
Training/

# SVGs 
*.svg
*.pdf

# vim undo, backup and swaps
*.un~
*~
*swp
*swp~



/data
