# Version 0.3.0
# global configuration
global:
  machine: 'mela' # 'mela' # 'raven'
  evaluate_after: 0

# job configuration important for training
job:
  nodes: 1
  ntasks: 1
  mem-per-task: 300
  cpus-per-task: 10
  time: '24:00:00'
  agent_buffer: 0
  recurrent:
    enable: 0
    n_jobs: 3

# Reinforcement learning configuration
learning:
  # Model options 
  model:
    name: 'PPO' #'RecurrentPPO' 'PPO' 'QRDQN' 'DQN' 'A2C' 'ACKTR' 'ACER' 'DDPG' 'PPO2' 'SAC' 'TRPO'
    policy: 'MultiInputPolicy' #'MlpLstmPolicy' # 'MlpPolicy'# 'CnnPolicy' # 'MultiInputPolicy'
    model_kwargs:
      n_steps: 256
      verbose: 1
      ent_coef: 0.2
      clip_range: 0.01
      learning_rate: 1.e-3
      policy_kwargs:
        features_extractor_kwargs:
          cnn_output_dim: 32
        net_arch:
          pi: [64, 64]
          vf: [64, 64]
    total_timesteps: 1.e+9
    save_freq: 'best' # 1.e+6 use string for best reward save, int for every n steps
    model_save_prefix: 'SLV_test_20231207'
    load:
      enable_loading: 0
      last_model: 0
      saved_model_name: './Training/SavedModels/Lv_image_patient_sampling_test_best_reward'

# Environment configuration
env:
  # general env settings
  type: 'SLvEnv' # 'PcEnv' # 'LvEnv' # 'GridEnv' # 'SLvEnv'
  n_envs: 1
  wrap: 0
  wrapper: 'VecFrameStack' # 'DummyVecEnv' # 'VecFrameStack' # 'SubprocVecEnv'
  wrapper_kwargs: #
    n_stack: 4
    channels_order: 'first' # use first fir image learning and last for number

  # general simulation settings
  observation_type: 'multiobs' # 'image' # 'number' # 'multiobs'
  action_type: 'discrete' # 'discrete' # 'continuous'
  see_resistance: False
  max_tumor_size: 4000 # 110000 # 4000
  max_time: 120 # 120
  initial_wt: 2761 #2761 # 74291 # 2761
  initial_mut: 1
  growth_rate_wt: 0.29 # 0.0175
  growth_rate_mut: 0.438 # 0.0175
  death_rate_wt: 0.0029
  death_rate_mut: 0.00438
  treat_death_rate_wt: 0.36 # 0.397 # 0.015
  treat_death_rate_mut: 0.00 # 0.0
  treatment_time_step: 1
  reward_shaping: 8  # reward shaping flag for some predefined rewards
  normalize: True
  normalize_to: 1.0
  image_size: 124 #84
  patient_sampling:
    enable: 0
    type: 'sequential' # 'random' # 'sequential'
    patient_id: 1 # [1, 4, 55, 80, 93]

  # LV environment settings
  LvEnv:
    carrying_capacity: 6500
    competition_wt: 1.323 #2400.0
    competition_mut: 0.0 #0.336
    growth_function_flag: 'instant' # 'instant', 'delayed', 'delayed_with_noise'
    image_sampling_type: 'dense' #'mutant_position' # 'dense' # 'random'

  SLvEnv:
    carrying_capacity: 6500
    competition_wt: 1.323 #2400.0
    competition_mut: 0.0 #0.336
    growth_function_flag: 'instant' # 'instant', 'delayed', 'delayed_with_noise'
    image_sampling_type: 'mutant_position' #'mutant_position' # 'dense' # 'random'
    mutant_distance_to_front: 40
    max_competition: 3.5
    growth_layer: 15
  # note this is not yet functional
  PcEnv:
    domain_size: 1250
    cpus_per_sim: 10
    transport_type: 'ipc://' # Linux: 'ipc://' # Windows: 'tcp://'
    transport_address: '/tmp/' # for raven use '/ptmp/saif/', for mela use '/tmp/'. For windows use '5555'
    xml:
      use_2D:
          parent_nodes: ['domain']
          value: 'true'
      number_of_susceptible_cells:
          parent_nodes: ['user_parameters']
          value: 2500
      number_of_resistant_cells:
          parent_nodes: ['user_parameters']
          value: 5
      enable_chkpt:
          parent_nodes: ['user_parameters']
          value: 'true'
      filename_chkpt:
          parent_nodes: ['user_parameters']
          value:  './../paper_presims/patient_80/final' #'./../3D_presim/output/output00000112' # './../paper_presims/patient_80/final'
      treatment_time_step:
          parent_nodes: ['user_parameters']
          value: 720
      treatment_strength:
          parent_nodes: ['user_parameters']
          value: 3.0e2 # 3.0e2 or 6.0e2

  # LatticeBased environment settings
  GridEnv:
    cell_positioning: 'surround_mutant' # 'surround_mutant' # 'random' # 'load'

# evaluation configuration
eval:
  most_recent: 0
  from_file: 0
  path: './data/degeneracy_tests/LV_deg_5/'
  model_prefix: 'test_v0.3.0b_conda_env'
  step_to_load: '_best_reward'
  save_name: 'at65_slvenv_test'
  # evaluation settings
  fixed_AT_protocol: 1
  at_type: 'zhang_et_al' # 'mtd' # 'fixed' # 'zhang_et_al'# 'no_treatment'
  threshold: 0.65
  num_episodes: 2
  evaluate_on: 'SLvEnv' # 'PcEnv' # 'LvEnv' # 'GridEnv'


# Predefined parameters for particular patients
patients:
  1:
    initial_wt: 2766
    initial_mut: 0
    growth_rate_wt: 0.231 # 0.0175
    growth_rate_mut: 0.343 # 0.0175
    death_rate_wt: 0.00231
    death_rate_mut: 0.00343
    treat_death_rate_wt: 0.333 # 0.015
    treat_death_rate_mut: 0.00 # 0.0
    LvEnv:
      carrying_capacity: 6500
      competition_wt: 1.423 #2400.0
      competition_mut: 0.391
    PcEnv:
      filename_chkpt:
        parent_nodes: [ 'user_parameters' ]
        value: './../paper_presims/patient_1/final'

  4:
    initial_wt: 2961
    initial_mut: 1
    growth_rate_wt: 0.285 # 0.0175
    growth_rate_mut: 0.313 # 0.0175
    death_rate_wt: 0.00285
    death_rate_mut: 0.00313
    treat_death_rate_wt: 0.384 # 0.015
    treat_death_rate_mut: 0.00 # 0.0
    LvEnv:
      carrying_capacity: 6500
      competition_wt: 1.694 #2400.0
      competition_mut: 0.485
    PcEnv:
      filename_chkpt:
        parent_nodes: [ 'user_parameters' ]
        value: './../paper_presims/patient_4/final'

  55:
    initial_wt: 2558
    initial_mut: 3
    growth_rate_wt: 0.223 # 0.0175
    growth_rate_mut: 0.431 # 0.0175
    death_rate_wt: 0.00223
    death_rate_mut: 0.00431
    treat_death_rate_wt: 0.237 # 0.015
    treat_death_rate_mut: 0.00 # 0.0
    LvEnv:
      carrying_capacity: 6500
      competition_wt: 0.013 #2400.0
      competition_mut: 0.363
    PcEnv:
      filename_chkpt:
        parent_nodes: [ 'user_parameters' ]
        value: './../paper_presims/patient_55/final'

  80:
    initial_wt: 2761
    initial_mut: 1
    growth_rate_wt: 0.29 # 0.0175
    growth_rate_mut: 0.438 # 0.0175
    death_rate_wt: 0.0029
    death_rate_mut: 0.00438
    treat_death_rate_wt: 0.397 # 0.015
    treat_death_rate_mut: 0.00 # 0.0
    LvEnv:
      carrying_capacity: 6500
      competition_wt: 1.323 #2400.0
      competition_mut: 0.336
    PcEnv:
      filename_chkpt:
        parent_nodes: [ 'user_parameters' ]
        value: './../paper_presims/patient_80/final'

  93:
    initial_wt: 2807
    initial_mut: 1
    growth_rate_wt: 0.255 # 0.0175
    growth_rate_mut: 0.448 # 0.0175
    death_rate_wt: 0.00255
    death_rate_mut: 0.00448
    treat_death_rate_wt: 0.366 # 0.015
    treat_death_rate_mut: 0.00 # 0.0
    LvEnv:
      carrying_capacity: 6500
      competition_wt: 2.265 #2400.0
      competition_mut: 0.135
    PcEnv:
      filename_chkpt:
        parent_nodes: [ 'user_parameters' ]
        value: './../paper_presims/patient_93/final'